.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Names Entry
      / /.panel-heading
      .panel-body
        .table-responsive
          %table#dataTables-example.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th Server
                %th Level0
                %th Email
                %th Displayname
                %th Action

            %tbody
              - @names_entries.each do |names_entry|
                %tr.odd.gradeX
                  %td= names_entry.domino_server_id
                  %td= names_entry.level0
                  %td= names_entry.email
                  %td= names_entry.displayname
                  %td
                    =link_to names_entry, class: "", title: "Show" do
                      %i.fa.fa-search.fa-fw
                    =link_to edit_names_entry_path(names_entry), class: "", title: "Edit" do
                      %i.fa.fa-pencil.fa-fw
                    =link_to names_entry, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "" , title: "Destroy" do
                      %i.fa.fa-trash-o.fa-fw
        / /.table-responsive
/ Page-Level Demo Scripts - Tables - Use for reference
:javascript
  $(document).ready(function() {
      $('#dataTables-example').dataTable();
  });

