-@messages.each do |n|
  %li
    %a{:href => "#"}
      %div
        %strong=n.label
        %span.pull-right.text-muted
          %em=time_ago_in_words(n.updated_at)
        %div=n.description
%li.divider
%li
  %a.text-center{:href => "#"}
    %strong Read All Messages
    %i.fa.fa-angle-right
/ /.dropdown-messages