-@alerts.each do |n|
  %li
    %a{:href => "#"}
      %div
        %i.fa.fa-comment.fa-fw
        ="#{n.label} #{n.description}"
        %span.pull-right.text-muted.small
          =time_ago_in_words(n.updated_at)
%li.divider
%li
  %a.text-center{:href => "#"}
    %strong See All Alerts
    %i.fa.fa-angle-right
/ /.dropdown-alerts