.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Domino Servers
      / /.panel-heading
      .panel-body
        .table-responsive
          %table#dataTables-example.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th Server Name
                %th IP Address
                %th LDAP Address
                %th Actions

            %tbody
              - @domino_servers.each do |domino_server|
                %tr.odd.gradeX
                  %td=domino_server.name
                  %td=domino_server.ip
                  %td="#{domino_server.ldap_hostname}:#{domino_server.ldap_port}"
                  %td
                    =link_to domino_server, class: "", title: "Show" do
                      %i.fa.fa-search.fa-fw
                    =link_to load_names_entry_domino_server_path(domino_server), method: :post, class: "", title: "Reload Names Entry" do
                      %i.fa.fa-cog.fa-fw
                    =link_to tail_domino_server_path(domino_server), method: :post, class: "", title: domino_server.tail_status do
                      -if domino_server.tail_status.blank?
                        %i.fa.fa-play.fa-fw
                      -else
                        %i.fa.fa-stop.fa-fw
                    =link_to edit_domino_server_path(domino_server), class: "", title: "Edit" do
                      %i.fa.fa-pencil.fa-fw
                    =link_to domino_server, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "" , title: "Destroy" do
                      %i.fa.fa-trash-o.fa-fw

        / /.table-responsive
/ Page-Level Demo Scripts - Tables - Use for reference
:javascript
  $(document).ready(function() {
      $('#dataTables-example').dataTable();
  });

